mixin textfield(type, id, place, title, subtitle, mask, form)
    div.text-field
        if(title != undefined)
            label(class="text-field__label" for=`${id}`)
                span.text-field__title=title
                if(subtitle != undefined)
                    span.text-field__subtitle=subtitle
        input(
            id=`${id}`
            form=`${form}`
            type=(type == "subscription") ? "email" :
                (type == "password") ? "password" :
                (type == "date") ? "date" : "text"
            class=(type == "subscription") ? "text-field__subscription" :
            ( mask != undefined ) ?  "text-filed__input_date " :  "text-field__input "
            placeholder=`${place}` 
            checked
            )