mixin button(text, width, background, dark, arrow, form, id, link, cls)
    if background
        if dark
            button(class="button__background_dark" class=`${arrow} ${cls}` style=`width: ${width}` form=`${form}` id=`${id}` type="submit")= text
        else
            button(class="button__background_light" class=`${arrow} ${cls}` style=`width: ${width}` form=`${form}` id=`${id}` type="submit")= text
    else
        if dark
            button(class=(link ? "button__link_colorful" : "button__text_dark") class=`${arrow} ${cls}` style=`width: ${width}` form=`${form}` id=`${id}` type="submit")= text
        else
            button(class=(link ? "button__link_grey" : "button__text_light") class=`${arrow} ${cls}` style=`width: ${width}` form=`${form}` id=`${id}` type="submit")= text