mixin dropdown(place, id, name, title)
    div(class="dropdown")
        div(class="dropdown__wraplabel")
            label(for=`${id}` class="dropdown__label") 
                span=`${name}`
                span=`${title}`
        input(type="text" class="dropdown__input" placeholder=`${place}` id=`${id}`)
        div(class="dropdown__window")
            div(class="dropdown__item")
                label(for="" class="dropdown__label") Спальни
                div
                    button(type="submit" class="dropdown__minus") -
                    input(type="text" class="dropdown__number")
                    button(type="submit" class="dropdown__plus") +
            div(class="dropdown__item")
                label(for="" class="dropdown__label") Кровати
                div
                    button(type="submit" class="dropdown__minus") -
                    input(type="text" class="dropdown__number")
                    button(type="submit" class="dropdown__plus") +
            div(class="dropdown__item")
                label(for="" class="dropdown__label") Ванные комнаты
                div
                    button(type="submit" class="dropdown__minus") -
                    input(type="text" class="dropdown__number")
                    button(type="submit" class="dropdown__plus") +

