mixin room(images, number, title,price,rate,review)
    div(class="room")
        div(class="room__slider")
            each val,key in images
                img(class="room__image" src=`${val}`, alt=`фото ${key}`)
            .room__indicator
                .room__item.room__item_active
                .room__item  
                .room__item  
                .room__item  
        div(class="room__wrapper")
            h1(class="room__title") 
                span №
                = number
                span= title
            p(class="room__description")
                span= `${price}`
                span ₽ 
                span в сутки
        div(class="room__line")
        div(class="room__rating")
            +ratebutton(rate)
            p.room__review= review
                span  Отзывов