mixin textfield(type,id,place,width,title,subtitle)
    div.text-field
        if(title == undefined || subtitle == undefined)
        else
            label(class="text-field__label"
                style=`width: ${width}`
                for=`${id}`)
                span.text-field__title=title
                span.text-field__subtitle=subtitle
        input(
            id=`${id}`
            type=(type == "subscription") ? "email" : 
                (type == "password") ? "password" : "text"  
            class=(type == "subscription") ? "text-field__subscription" : `text-field__input`
            placeholder=`${place}` 
            style=`width: ${width}`
            checked)

