mixin toBook(number,title,price,id,sum,day)
    div(class="toBook")
        form(action="" method="post")
            div(class="toBook__wrapper")
                h1(class="toBook__title") 
                    span №
                    = number
                    span= title
                p(class="toBook__description")
                    span= `${price}`
                    span ₽ 
                    span в сутки
            div(class="toBook__wrapper")
                +date(true,true)
            div(class="toBook__wrapper")
                +dropdown(`${id}`, "гости", "", "", "", "3", "", "320px")
            ul(class="toBook__services")
                li
                    span= `${price}₽ х ${day} суток`
                    span 39 960₽
                li
                    div
                        span Сбор за услуги: скидка 2 179₽
                        div
                            span i
                    span 0₽
                li
                    div
                        span Сбор за дополнительные услуги
                        div
                            span i
                    span 300₽
            div(class="toBook__total")
                p Итого
                div
                p= sum
            +button("забронировать","background","dark","arrow")