mixin toBook(number,title,price,id,sum,day)
    .toBook
        form.toBook__form(action="" method="post")
            .toBook__wrapper
                h1.toBook__title
                    span №
                    = number
                    span= title
                p.toBook__description
                    span= `${price}`
                    span ₽ 
                    span в сутки
            .toBook__wrapper
                +date(true,true)
            .toBook__wrapper
                +dropdown(`${id}`, "гости", "", "", "", "3", "", "320px")
            ul.toBook__services
                li.toBook__item
                    span= `${price}₽ х ${day} суток`
                    span 39 960₽
                li.toBook__item
                    div
                        span Сбор за услуги: скидка 2 179₽
                        div
                            span i
                    span 0₽
                li.toBook__item
                    div
                        span Сбор за дополнительные услуги
                        div
                            span i
                    span 300₽
            .toBook__total
                p Итого
                div
                p= sum
            .toBook__button   
                +button("забронировать","background","dark","arrow")